@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville&family=Merriweather:ital,wght@0,700;1,700&family=Montserrat:wght@400;700;900&family=Roboto+Condensed:wght@700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.nav-link:hover {
    background-color: #d2d3c5 !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}
.Sidbar{
    background: #FAFFC1;
    height: 100vh;
}
.E-classe{
    font-size: medium;
}
#AdminName{
    font-size: medium;
}
#Admin{
    font-size: small;
}
.nav{
    font-size: 80%;
}

.table-theme {
    border-spacing: 0
}

.table-theme thead {
    font-size: .7rem
}

.table-theme tbody td {
    background-color: #fff;
    border-width: 0;
    box-shadow: 0 1px 0 rgba(160, 175, 185, .05), 0 -1px 0 rgba(160, 175, 185, .05)
}

.table-theme tbody td:first-child {
    border-radius: .25rem 0 0 .25rem
}

.table-theme tbody td:last-child {
    border-radius: 0 .25rem .25rem 0
}
.img:first-child {
    border-radius: .25rem 0 0 .25rem
}
.img:first-child :last-child {
    border-radius: 0 .25rem .25rem 0
}

.table-row {
    border-spacing: 0 10px !important;
    border-collapse: separate !important;
}
body{
    background-color: #e7e7e3 !important

}
@media screen and (max-width: 1080px){
 
   .nvr{
    font-size: x-small;
   } 
   .Sidbar{

    display: none !important;
 
 }
 
 .nvr{
  font-size: x-small;
 }
 
}